<nav class="navbar navbar-expand-xl">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dg9mc7ach/image/upload/v1712501511/logocristianprofile_zvqazj.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="container-nav">
        <ul class="navbar-nav xl-auto">
          <li class="nav-item">
            <%= link_to "HOME", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "SERVICES", "https://www.fiverr.com/extendedindeed", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "PORTFOLIO", "https://www.github.com/CristianManolache", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "BLOG", "https://www.cristianmanolache.dev", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "CONTACT", new_contact_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
